*.exe
*.map
*.bsc
*.ilk
*.pdb
*.obj
*.tlog
*.exp
*.sbr
*.aps
*.idb
*.dmp
*.orig
*.zip
**/win32/
*.user
*.ncb
*.suo
*.opensdf
*.sdf
*.bak
*.db
**/Release/
**/Debug/
**/build_*/
*./Browse.VC.db
*Browse.VC.db
Tutorial/.vs/
**/build_vs2013/
**/build_vs2019/
**/build_vs2013_release/
**/build_vs2019_release/